html[dir="ltr"] .myTableApp .myCustomButton.sapMBtn {
   margin-right: 0.125rem
}

html[dir="rtl"] .myTableApp .myCustomButton.sapMBtn {
   margin-left: 0.125rem
}

.myTableApp .myCustomText {
   display: inline-block;
   font-weight: bold;
}